Source: clacks
Section: misc
Priority: optional
Maintainer: Cajus Pollmeier <cajus@debian.org>
Build-Depends: debhelper (>= 7.0.50~), python (>= 2.6.6-3~), python-setuptools, python-pybabel,
 python-nose, python-kid, python-coverage, python-logilab-astng, python-logilab-common,
 python-logilab-constraint, pylint
X-Python-Version: >= 2.6
Standards-Version: 3.9.2
Homepage: http://gosa-project.org
Vcs-Browser: https://github.com/clacks/clacks
Vcs-Git: git://github.com/clacks/clacks.git

Package: clacks-common
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-pkg-resources, python-avahi,
 python-openssl, python-dbus, python-gtk2, python-lxml, python-libxml2,
 python-dmidecode, python-qpid, python-cjson, python-pybabel,
 python-zope.interface, avahi-daemon
Description: clacks infrastructure service - common files
 Brief description is missing.
 .
 This package provides libraries common for all clacks components.

Package: clacks-dbus
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, clacks-client, hal,
 python-notify, python-daemon, python-dbus, python-dateutil, python-pynotify
Description: clacks infrastructure service - DBUS service provider
 Brief description is missing.
 .
 This package provides the DBUS plugin integration.

Package: clacks-client
Architecture: all
Conflicts: clacks-agent
Depends: ${python:Depends}, ${misc:Depends}, python-dateutil, python-netifaces,
 python-crypto, adduser, python-newt
Suggests: clacks-dbus, fusioninventory-agent, python-pyside | python-qt4, avahi-utils
Description: clacks infrastructure service - client
 Brief description is missing.
 .
 This package provides the client.

Package: clacks-shell
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, clacks-common
Description: clacks infrastructure service - shell
 Brief description is missing.
 .
 This package provides the shell interface.

Package: clacks-agent
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, clacks-common,
 python-dumbnet, python-ldap, python-smbpasswd, python-unidecode,
 python-dbxml, python-sqlalchemy, python-mysqldb, python-sqlalchemy-ext,
 adduser, python-zope.event
Conflicts: clacks-client
Suggests: qpidd
Description: clacks infrastructure service - agent
 Brief description is missing.
 .
 This package provides the agent.
