Source: clacks-client
Section: misc
Priority: optional
Maintainer: Cajus Pollmeier <cajus@debian.org>
Build-Depends: debhelper (>= 7), python (>= 2.6.6-3~), python-setuptools
X-Python-Version: >= 2.6
Standards-Version: 3.9.1
Homepage: http://gosa-project.org

Package: clacks-client
Architecture: all
Conflicts: clacks-agent
Depends: ${python:Depends}, ${misc:Depends}, python-dateutil, python-netifaces,
 python-crypto
Pre-Depends: clacks-common
Suggests: clacks-dbus
Description: clacks infrastructure service - client
 Brief description is missing.
 .
 This package provides the client.
