
span.comment {
	color: #008000;
}

span.code {
	color: #FFF;
}

div#tt {
	height: 480px;
	padding: 0px;
	width: 990px;
	overflow: auto;
	background-color: #000;
	margin: 10px;
	font-family: monospace;
	color: #808080;
}
