Source: clacks-common
Section: misc
Priority: optional
Maintainer: Cajus Pollmeier <cajus@debian.org>
Build-Depends: debhelper (>= 7), python (>= 2.6.6-3~), python-setuptools
X-Python-Version: >= 2.6
Standards-Version: 3.9.1
Homepage: http://gosa-project.org

Package: clacks-common
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-pkg-resources, python-avahi,
 python-openssl, python-dbus, python-gtk2, python-lxml, python-libxml2,
 python-dmidecode, python-qpid, python-cjson, python-pybabel,
 python-zope.interface, avahi-daemon
Description: clacks infrastructure service - common files
 Brief description is missing.
 .
 This package provides libraries common for all clacks components.
